extends layout

block content
  h1= title
  p Creación de libros
  a(href="/libros" class="btn btn-default") Volver al listado
  br
  br
  // register form
  form(method='POST' action='/libros/add')
    div.form-group
      label(for='isbn') ISBN:
      input#isbn.form-control(type='text', placeholder='isbn' name='isbn')
    div.form-group
      label(for='titulo') Titulo:
      input#titulo.form-control(type='text', placeholder='titulo' name='titulo')
    div.form-group
        label(for='autores') Autores:
        input#autores.form-control(type='text', placeholder='autores' name='autores')
    div.form-group
      label(for='sinopsis') Sinopsis:
      input#sinopsis.form-control(type='text', placeholder='sinopsis' name='sinopsis')
    button.btn.btn-primary(type='submit') Crear libro
