extends layout

block content
  h1 Viendo libro #{libro.titulo}

  table.table
    thead
      tr
        th  id
        th  isbn
        th  titulo
        th  autores
        th  sinopsis
        th
    tbody
      tr
        each campo, i in libro
          td= campo
        td
          a(href='/libros/edit/' + libro._id, class="btn btn-primary") Editar
          span --
          a(href='/libros/delete/' + libro._id, class="btn btn-danger") Eliminar

  a(href="/libros" class="btn btn-default") Volver al listado
